Repository victorhdcoelho/Requisitos-uber-2018.2, pull requests merged in 2018-09, with the labels that each got.

#3 Invertido as pastas de argumentcao e richpicture
  docs/Argumentacao/versao1/Argumentação1_1.jpg
  docs/Argumentacao/versao1/Argumentação2_1.jpg
  docs/RichPicture/versao1/Avaliações_1.jpg
  docs/RichPicture/versao1/Formas_pagamento_1.jpg
  docs/RichPicture/versao1/Geral_parte1_1.jpg
  docs/RichPicture/versao1/Geral_parte2_1.jpg
  docs/RichPicture/versao1/Uber_concorrencia_1.jpg
  docs/RichPicture/versao1/Uber_eats_1.jpg
  docs/RichPicture/versao1/Uber_motorista_1.jpg
  docs/RichPicture/versao1/Uber_passageiro_1.png
Labels: bug

#12 4 fazer richpicture e argumentacao do passageiro
  docs/Argumentacao/versao1.1/ArgumentacaoPassageiro_1.png
  docs/RichPicture/versao1.2/PassageiroBagSUV_1.png
  docs/RichPicture/versao1.2/PassageiroBlack_1.png
  docs/RichPicture/versao1.2/PassageiroGeral_2.jpg
  docs/RichPicture/versao1.2/PassageiroGeral_3.png
  docs/RichPicture/versao1.2/PassageiroPool_1.png
  docs/RichPicture/versao1.2/PassageiroX_1.png
  docs/RichPicture/versao1.2/passageiro-geral_2.png
Labels: Argumentacao, RichPicture

#21 20 storytelling da uber
  docs/StoryTelling/requisitos_storytelling_1.odt
  docs/StoryTelling/storytelling_1.odt
Labels: Feito, storytelling

#14 Richpicture e Argumentação do Aplicativo do Motorista
  docs/Argumentacao/versao1.1/Argumentação_Aplicativo_Motorista_1.1.jpg
  docs/Argumentacao/versao1/Argumentação_Aplicativo_Motorista _1.1.jpg
  docs/RichPicture/versao1.1/Aplicativo_Motorista_1.1.jpg
  docs/RichPicture/versao1/Aplicativo_Motorista_1.jpg
Labels: Argumentacao, Feito, RichPicture

#16 Fazer RichPicture e argumentação de Formas de pagamento
  README.md
  docs/Argumentacao/versao1/argumentação_pagamento1.png
  docs/RichPicture/versao1.1/pagamentos_richpicture_1.1.png
  docs/RichPicture/versao1.2/pagamentos_richpicture_1.2.png
  docs/RichPicture/versao1/ProcessadorPagameno_1.png
  imagens/LogoPrincipal.jpg
Labels: Argumentacao, Feito, RichPicture

#15 Fazer Rich Picture da Argumentacao do Aplicativo do passageiro
  docs/Argumentacao/versao2/Argumentacao1_JoaoLemos_160010195.png
  docs/Argumentacao/versao2/Argumentacao2_JoaoLemos_160010195.png
  docs/RichPicture/versao1.1/RichPicture_aplicativo_passageiro.jpg
  docs/RichPicture/versao1.1/RichPicture_uber_empresa.png
  docs/RichPicture/versao1/RichPicture_aplicativo_passageiro_papel.jpeg
Labels: Argumentacao, Feito, RichPicture
